.custom-previews-field-wrapper {
    padding-bottom: 1em;
}

.custom-previews-field-wrapper label {
    display: block;
}

.custom-previews-field-wrapper .select2-container .select2-selection--single {
    height: 2.5rem;
}

.custom-previews-field-wrapper .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 2.5rem;
}

.custom-previews-field-wrapper .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 2.5rem;
}

.color-preview.color-selected {
    margin-top: 0.3rem;
}

.color-preview.color-dropdown {
    margin-top: 0.75rem;
}

.color-preview {
    display: inline-block;
    width: 26px;
    height: 26px;
    background: #fff;
    vertical-align: top;
}

.color-text {
    display: inline-block;
    padding: 0 0.5em;
    vertical-align: top;
}

.color-description {
    opacity: 0.8;
}

.color-picker {
    width: 100%;
}

@media (min-width: 768px) {
    .custom-previews-image-preview {
        width: 41.1764705882%;
        float: left;
        margin-right: 5.8823529412%;
        margin-bottom: 3.706325903em;
    }
}

.custom-previews-image-preview {
    position: relative;
    opacity: 1;
    transition: opacity 0.25s ease-in-out 0s;
}

.woocommerce-product-gallery {
    position: relative;
    padding-bottom: 45px;
}

#switch-to-preview {
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Loading Animation */

.loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}